.mainContainer {
  overflow: auto;
  background: linear-gradient(to bottom, #0099ff, #66ccff);
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  font-size: 20px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 75px;
  font-weight: 800;
  color: white;
  margin-top: 100px;
text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

.bio {
  text-align: center;
  color: black;
  margin-top: 20px;
  font-weight: bold;
}

.wave-button {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 700px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.total-waves{
color: white;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.submit-button{
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 602px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
}
.connectButton{
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 602px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
}
.message-input {
justify-content: center;
}